.grammars_section .grammars {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;

    .not_found_label {
        display: none;
        margin-left: auto;
        margin-right: auto;
        padding: 1.5em;
        background-color: var(--second-color);
        border-radius: 1em;
        font-weight: 500;
    }
}

.grammars_section .grammars .grammar {
    width: 100%;
    padding: 1.5em;
    background-color: var(--second-color);
    border-radius: 1em;

    .name {
        font-size: 1.25em;
        font-weight: 600;
        margin-bottom: 1em;
    }
}

.grammars_section .grammars.not_found .not_found_label {
    display: block;
}



.grammar .examples {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

.grammar .examples .example {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 1em;
    background-color: var(--main-color);
    border-radius: 1em;
}

.grammar .examples .example .construction {
    font-weight: 500;
}

.grammar .examples .example .sentence {
    display: inline-flex;
    align-items: center;
    font-size: 1.1em;
    font-weight: 500;

    .speak_button {
        margin-left: 0.5em;
        height: 1.3em;
        cursor: pointer;
    }

    .sentence_word .character {
        white-space: nowrap;
        cursor: pointer;
    }

    .sentence_word.translated .character {
        text-decoration: underline dotted var(--hint-color);
        text-underline-offset: 0.3em;
    }

    .sentence_word .info {
        position: absolute;
        display: flex;
        flex-direction: column;
        padding: 0.5em;
        font-size: 0.8em;
        background-color: var(--second-color);
        border: 2px solid var(--main-color);
        border-radius: 1em;
        opacity: 0;
        transition: opacity 0.2s ease-in-out;
        pointer-events: none;

        &.show {
            opacity: 1;
            pointer-events: auto;
        }
    }
}