.grammars_section .grammars {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;

    .not_found_label {
        display: none;
    }
}

.grammars_section .grammars .grammar {
    width: 100%;
    padding: 1.5em;
    background-color: var(--second-color);
    border-radius: 1em;

    .name {
        font-size: 1.25em;
        font-weight: 600;
        margin-bottom: 1em;
    }
}

.grammars_section .grammars.not_found {
    justify-content: center;

    .not_found_label {
        display: block;
    }
}



.grammar .examples {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

.examples .example {
    padding: 1em;
    background-color: var(--main-color);
    border-radius: 1em;
    cursor: pointer;

    p {
        cursor: pointer;
    }
}

.example .construction {
    font-size: 1.1em;
    font-weight: 600;
}

.example .sentence {
    font-weight: 500;
}