header {
    background-color: var(--second-color);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 0;
    z-index: 100;
}

header .row {
    display: inline-flex;
    justify-content: center;
    gap: 1em;
    padding: 1em;
    border-bottom: 3px solid var(--main-color);
}




.sections_selectors .selector {
    display: flex;
    justify-content: center;
    gap: 0.5em;
    padding: 0.7em;
    font-size: 0.9em;
    background-color: var(--second-color);
    border: 2px solid var(--main-color);
    border-radius: 1em;
    text-align: center;
    font-weight: 600;
    cursor: pointer;

    &.selected {
        background-color: var(--main-color);
    }

    svg {
        height: 1.5em;
    }
}

.section {
    --section-padding: 157px;
    padding-top: var(--section-padding);
}



.search input {
    max-height: 3em;
    max-width: 12em;
    border: 2px solid var(--main-color);
    text-align: center;

    &:focus {
        border: 2px solid var(--hint-color);
    }
}



@media (width <= 500px) {
    header {
        top: auto;
        bottom: 0;
        flex-direction: column-reverse;
    }

    header .row {
        gap: 0.5em;
        padding: 0.5em;
        border-bottom: none;
        border-top: 3px solid var(--main-color);

        .title {
            display: none;
        }
    }

    .section {
        padding-top: 0;
        padding-bottom: var(--section-padding);
    }
}



.settings {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1em;
    padding: 1em;
}