:root {
    color-scheme: light;

    --main-color: light-dark(rgb(239, 239, 239), rgb(65, 65, 65));
    --second-color: light-dark(white, rgb(40, 40, 40));
    --pale-color: light-dark(rgb(200, 200, 200), rgb(100, 100, 100));
    --hint-color: light-dark(rgb(135, 135, 135), rgb(160, 160, 160));
    --font-color: light-dark(black, white);
    --error-color: rgb(241, 77, 76);

    --correct-color: light-dark(rgb(160, 255, 160), rgb(120, 190, 120));
    --incorrect-color: light-dark(rgb(255, 160, 160), rgb(210, 130, 130));
    --selection-color: light-dark(rgb(165, 215, 255), rgb(100, 150, 170));
}

* {
    margin: 0;
    padding: 0;
	-webkit-user-select: none;
	user-select: none;
}

html {
    background-color: var(--main-color);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-optical-sizing: auto;
    color: var(--font-color);
    height: 100%;
    cursor: default;
    overflow-y: scroll;
}

svg {
    aspect-ratio: 1 / 1;
    fill: var(--font-color);
}



button {
    padding: 0.5em;
    color: var(--font-color);
    background-color: var(--second-color);
    border: 2px solid var(--pale-color);
    border-radius: 1em;
    font-size: 1.2em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.2s;
}

button:hover, button:active {
    border-color: var(--hint-color);
}



input {
    padding: 0.5em;
    color: var(--font-color);
    background-color: var(--second-color);
    border: 2px solid var(--pale-color);
    border-radius: 1em;
    font-size: 1em;
    font-family: inherit;
    transition: 0.2s;
    outline: none;
}

input:hover, input:focus-visible {
    background-color: var(--main-color);
    border-color: var(--hint-color);
}

input:invalid {
    border-color: var(--error-color);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    display: none;
}



.selectable_text {
	-webkit-user-select: text;
	user-select: text;
    cursor: text;
}

.chinese_text {
    font-family: "Noto Sans SC";
}