@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100..900&family=Noto+Sans+TC:wght@100..900&display=swap');

:root {
    color-scheme: light;

    --main-color: light-dark(rgb(228, 231, 247), rgb(53, 59, 81));
    --second-color: light-dark(white, rgb(28, 32, 51));
    --pale-color: light-dark(rgb(200, 200, 227), rgb(76, 83, 113));
    --hint-color: light-dark(rgb(99, 107, 133), rgb(124, 129, 149));
    --font-color: light-dark(black, white);
    --error-color: light-dark(rgb(240, 100, 100), rgb(187, 65, 65));

    --correct-color: light-dark(rgb(192, 239, 192), rgb(80, 148, 80));
    --incorrect-color: light-dark(rgb(255, 160, 160), rgb(180, 90, 90));
    --selection-color: light-dark(rgb(188, 203, 255), rgb(105, 116, 159));
}

* {
    margin: 0;
    padding: 0;
	-webkit-user-select: none;
	user-select: none;
}

html {
    background-color: var(--main-color);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-optical-sizing: auto;
    color: var(--font-color);
    height: 100%;
    cursor: default;
    overflow-x: hidden;
    overflow-y: scroll;
}

svg {
    aspect-ratio: 1 / 1;
    fill: var(--font-color);
}



button {
    padding: 0.5em;
    color: var(--font-color);
    background-color: var(--second-color);
    border: 2px solid var(--pale-color);
    border-radius: 1em;
    font-size: 1.2em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.2s;
}

button:hover, button:active {
    border-color: var(--hint-color);
}

button:disabled {
    opacity: 1;
    pointer-events: none;
}



input {
    padding: 0.5em;
    color: var(--font-color);
    background-color: var(--second-color);
    border: 2px solid var(--main-color);
    border-radius: 1em;
    font-size: 1em;
    font-family: inherit;
    transition: 0.2s;
    outline: none;
}

input:hover, input:focus-visible {
    background-color: var(--main-color);
    border-color: var(--pale-color);
}

input:invalid {
    border-color: var(--error-color);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    display: none;
}

input:disabled {
    opacity: 1;
    pointer-events: none;
}

label {
    width: fit-content;
}



input[type="checkbox"] {
    width: 1.5em;
    height: 1.5em;
    background-color: var(--second-color);
    border: solid 2px var(--main-color);
    border-radius: 1em;
    cursor: pointer;
    appearance: none;
}

input[type="checkbox"] + label {
    cursor: pointer;
}

input[type="checkbox"]:hover {
    border-color: var(--pale-color);
}

input[type="checkbox"]:checked {
    border-color: var(--selection-color);
}



.selectable_text {
	-webkit-user-select: text;
	user-select: text;
    cursor: text;
}

.chinese_text {
    font-family: "Noto Sans SC", serif;
}