.words_section .categories {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;

    .words_count_label {
        margin-left: auto;
        margin-right: auto;
        padding: 1.5em;
        background-color: var(--second-color);
        border-radius: 1em;
        font-weight: 500;
    }
}

.words_section .categories .category {
    width: 100%;
    padding: 1.5em;
    background-color: var(--second-color);
    border-radius: 1em;
}

.words_section .categories .category > .info {
    margin-bottom: 1em;

    .name {
        font-size: 1.25em;
        font-weight: 600;
    }

    .words_count {
        color: var(--hint-color);
    }
}



.category .words {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

.words .word {
    padding: 1em;
    background-color: var(--main-color);
    border-radius: 1em;
    cursor: pointer;

    p {
        cursor: pointer;
    }
}

.word .character {
    font-size: 1.1em;
    font-weight: 600;
}

.word > .info {
    color: var(--hint-color);
}